.vscode
data
Data
evaluation/index/*
evaluation/log/*
evaluation/data_folder/images
.DS_Store
cropimage/node_modules
cropimage/dist
TensorFlow*
segmentation_forcus

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
evaluation.zip
pytorch_custom_yolo_training*